* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;

  text-decoration: none;
}

.main {
  background-position: center bottom 10px;
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
  z-index: -1;
  animation: fadeInBG 2s ease-in-out forwards;
  transition: 3s ease-in;
  margin: 0 auto;
}
@keyframes fadeInBG {
  0% {
    background-image: url("./img/plant.png"), url("./img/tree.png");
    opacity: 10%;
  }

  50% {
    background-image: url("./img/plant.png");
    opacity: 50%;
  }

  100% {
    background-image: url("./img/plant.png"), url("./img/tree.png"),
      url("./img/leaf.png");
  }
}

img {
  max-width: 100%;
  height: auto;
}
.container-gb {
  max-width: 1200px;
  margin: 0 auto;
}
.sobre {
  max-width: 800px;
  margin: 0 auto;
}

.header-menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
}

.menu-lista {
  display: flex;
  gap: 40px;
  padding: 20px 20px;
}
.menu-lista li a {
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #2b4e39;
  padding: 10px;
  border-radius: 10px;

  transition: 0.4s ease-in;
}
.menu-lista li a:hover {
  background: #2c4a38;
  color: #eee;
}
[data-anime="scroll"] {
  opacity: 0;
  transform: translate3d(-80px, 0, 0);
  transition: 1s;
}

[data-anime="scroll"].ativo {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.container-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 40px;
  padding-bottom: 40px;
  padding-top: 20px;
  max-width: 1000px;
}

.main-texto h1 {
  font-size: 4rem;
  line-height: 1;
  margin-top: -60px;
}
.main-texto p {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #6e6e6e;

  padding-bottom: 20px;
  margin-top: 0px;
}
.main-texto a {
  color: #ffffff;
  background: #367650;
  font-size: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  transition: 0.2s ease;
  padding: 10px 20px;
  display: block;
  justify-items: center;
  justify-self: start;
}
.main-texto a:hover {
  background-color: #00ff59;
  color: #000;
}
.fora-plant {
  background-image: url("./img/leaf.png");
  background-position: right;

  height: auto;
  background-repeat: no-repeat;
  z-index: -1;
  margin-top: 0px;
  margin-left: 60px;

  animation: vento 10s infinite linear;
}
@keyframes vento {
  0% {
    background-position: left 30%;
  }
  50% {
    background-position: center 32%; /* Pequeno movimento lateral */
  }
  100% {
    background-position: center 10%;
  }
}

.sobre-cont {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  padding: 20px;
  gap: 20px;
  align-items: center;
}
.conteudo .h2 {
  display: flex;
  justify-content: center;
  font-size: 4rem;
  font-family: "Poppins";
  padding-top: 30px;
  margin-bottom: -40px;
}

.texto-sobre {
  padding: 40px;
}

.texto-sobre h2 {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  line-height: 1;
  padding-bottom: 20px;
}
.texto-sobre h2 .det {
  font-size: 6rem;
  color: #3b6c4e;
}

.texto-sobre p {
  font-size: 1.2rem;
  padding-bottom: 30px;
  color: #393535;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.img-sobre > img {
  width: 100%;
  height: auto;
  object-fit: cover;
  background-size: cover;
  object-position: center;

  border-radius: 5px;
}

.cortes > h2 {
  display: flex;
  justify-content: center;
  font-size: 4rem;
  font-family: "Poppins";
  padding-top: 30px;
  padding-bottom: 30px;
}

.whatsapp-button {
  position: fixed;
  bottom: 500px; /* Dist창ncia da parte inferior da tela */
  right: 20px; /* Dist창ncia do lado direito da tela */
  width: 60px;
  height: 60px;
  background-color: #25d366; /* Cor oficial do WhatsApp */
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 10px;
  gap: 5px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
.foto {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border-radius: 10px;
}
.foto img {
  object-fit: cover;
  transition: transform 0.4s ease-in-out, filter 0.4s ease-in-out;
}
.foto:hover img {
  transform: scale(1.1);
  filter: brightness(0.7);
}

.localizacao > h2 {
  display: flex;
  justify-content: center;
  font-size: 4rem;
  font-family: "Poppins";
  padding-bottom: 60px;
}

.localizacao {
  padding-top: 60px;
}

.info-localiza {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: stretch;
  max-width: 800px;

  margin: 0 auto;
}
.local-img {
  border: 5px solid #011609;
}
.local-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.local-conteudo {
  display: flex;
  flex-direction: column;
  background: #111111;
  color: #fff;
  padding: 20px;
  justify-content: center;
  border-right: 10px solid #00ff59;
  border-radius: 0px 20px 20px 0px;
}
.local-conteudo h3 {
  font-family: "Poppins";
  font-size: 2rem;
  line-height: 1;
  padding: 50px;
}
.endereco-info {
  margin-bottom: 32px;
  padding-left: 28px;
  background: url("./img/local.svg") no-repeat;
}
.endereco-info p {
  font-family: "Poppins";
  font-size: 1.2rem;
}
.contato-info {
  padding-bottom: 20px;
}
.contato-info p,
a {
  font-size: 1.2rem;
  font-family: "Poppins";
}
.contato-info p {
  margin-top: 20px;
  padding-left: 28px;
  background: url("./img/email.svg") no-repeat;
}
.contato-info a {
  margin-top: 20px;
  padding-left: 28px;
  background: url("./img/telefone.svg") no-repeat;
  color: #fff;
}
.rede-social-info {
  text-align: center;
  justify-content: center;
  padding-top: 40px;
}
.rede-social-info i {
  font-size: 2rem;
  padding-right: 10px;
  color: #00ff59;
}
.container-shop {
  max-width: 1000px;
  box-sizing: border-box;
  margin: 0 auto;
}
.container-shop h2 {
  display: flex;
  justify-content: center;
  font-size: 4rem;
  font-family: "Poppins";
  padding-bottom: 60px;
  padding-top: 60px;
}
.conteudo-shop {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
  color: #fff;
}
.bloco-shop > span {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #717171;
}

.bloco-shop p {
  font-size: 1.2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.gold {
  color: #d4ff00;
}
.black {
  color: #000;
}
.orange {
  color: #ff5500;
}
.red {
  color: #dd0909;
}
.bloco-shop h1 {
  margin-top: 10px;
  line-height: 1;
}
.bloco-shop img {
  width: 100%;
  max-width: 300px;
  max-height: 400px;
  object-fit: cover;

  border-radius: 10px;
}
.bloco-shop img:hover {
  transform: scale(1);
  filter: brightness(0.3);
}

.bloco-shop {
  background: #2b2d2c;
  padding: 5px;
  border-radius: 10px;
  text-align: center;
  transition: 1ms ease;
}
.bloco-shop h1 {
  font-family: "Poppins";
}

.rodape {
  background: #0e0e0e;
  margin-top: 120px;
  border-top: 5px solid transparent;
}

.conteudo-rodape {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.nome-marca h3 {
  font-size: 2rem;
  color: #fff;
}

.contatos-footer h3 {
  font-size: 1.5rem;
  color: #fff;
  padding-bottom: 10px;
  font-family: "Poppins";
}
.contatos-footer p {
  color: #fcfcfc;
  font-family: "Poppins";
  padding: 5px;
}
.footer-redes a {
  color: #fff;
  font-size: 2rem;
  padding: 2px;
}
@keyframes ventoLateral {
  0% {
    background-position: 48% 50%;
  }
  50% {
    background-position: 52% 50%;
  }
  100% {
    background-position: 48% 50%;
  }
}

@media (max-width: 650px) {
  .header-menu img {
    padding-bottom: 20px;
  }
  .conteudo-rodape {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .bloco-shop img {
    width: 100%;
    max-width: 400px;
    max-height: 400px;
    height: auto;
    border-radius: 10px;
  }
  .conteudo-shop {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    border: 5px solid transparent;
    padding: 20px;
    color: #fff;
  }
  .container-shop h2 {
    font-size: 3rem;
    padding-bottom: 10px;
  }
  .local-conteudo h3 {
    text-align: center;
  }
  .local-conteudo {
    display: flex;
    flex-direction: column;
    background: #0e0e0e;
    color: #fff;
    padding: 20px;
    justify-content: center;
    border-top: 10px solid #00ff59;
    border-radius: 10px 10px 0px 0px;
  }
  .info-localiza {
    display: grid;
    grid-template-columns: 1fr;
  }
  .local-img {
    order: 1;
    border: 5px solid #0e0e0e;
    border-right: 10px solid #00ff59;
  }
  .local-img img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;

    background-size: cover;
  }
  .localizacao > h2 {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-family: "Poppins";

    padding-bottom: 60px;
  }
  .header-menu {
    padding-top: 40px;
    padding-bottom: 10px;
    justify-content: center;
    text-align: center;
    background-image: url("./img/leaf.png");
    height: auto;
    background-size: cover;
    background-position: end;
  }
  .galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    width: 100%;
    margin: 0 auto;
  }

  .cortes > h2 {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-family: "Poppins";
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .menu-lista {
    display: flex;
    gap: 10px;
    padding: 30px 10px;
  }

  .texto-sobre h2 {
    font-size: 2.5rem;
    font-family: "Poppins", sans-serif;
    line-height: 1;
    padding-bottom: 20px;
  }
  .texto-sobre h2 .det {
    font-size: 6rem;
    color: #3b6c4e;
  }

  .texto-sobre p {
    font-size: 1.2rem;
    padding-bottom: 0px;
    color: #05140c;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  .img-sobre img {
    padding: 0px;
  }

  .main-img img {
    display: none;
  }
  .container-main {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
  }
  .main-texto h1 {
    text-align: center;
  }
  .main-texto a {
    justify-self: center;
    margin-bottom: 60px;
  }
  .menu-lista li a {
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    border-radius: 10px;
    padding: 8px 15px;
    color: #000;
    background: #a1da8a;
  }
  .fora-plant {
    background-image: none;
  }
  .whatsapp-button {
    position: fixed;
    bottom: 100px; /* Dist창ncia da parte inferior da tela */
    right: 40px; /* Dist창ncia do lado direito da tela */
    width: 60px;
    height: 60px;
    background-color: #25d366; /* Cor oficial do WhatsApp */
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  .conteudo .h2 {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-family: "Poppins";
    margin-bottom: -40px;
  }

  @keyframes fadeInBG {
    0% {
      background-image: url("./img/plant.png"), url("./img/tree.png");
      opacity: 10%;
    }

    100% {
      background-image: url("./img/plant.png"), url("./img/tree.png");
    }
  }
  .main-texto h1 {
    font-size: 4rem;
    line-height: 1;
    margin-top: 70px;
  }
}

@media (max-width: 800px) {
  .bloco-shop h1 {
    font-family: "Poppins";
    font-size: 1rem;
  }
  .img-sobre img {
    width: 100%;
    height: 500px;
    justify-self: start;
    object-fit: cover;
    background-size: cover;
  }
  .sobre-cont {
    display: grid;
    grid-template-columns: 1fr;
  }
  .texto-sobre {
    order: -1;
  }
  .tirar-p {
    display: none;
  }
}
